<nav class="navbar" style="background-color: #cbcbcb;">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand" style="color: black;">Recipe Book</a>
        </div>
        <div class="collaspse navbar-collapse">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active" *ngIf="!isAuthenticated"><a [routerLink]="['/auth']"  style="color: black;">Login Page</a></li>
                <li routerLinkActive="active" *ngIf="isAuthenticated"><a [routerLink]="['/recipes']"  style="color: black;">Recipes</a></li>
                <li routerLinkActive="active" *ngIf="isAuthenticated"><a [routerLink]="['/shoppingList']"  style="color: black;">Shopping List</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li *ngIf="isAuthenticated">
                    <a style="cursor: pointer;" (click)="onLogout()"  style="color: black;">Logout</a>
                </li>
                <li class="dropdown" appDropDown *ngIf="isAuthenticated">
                    <a style="cursor: pointer;" class="dropdown-toggle" role="button"  style="color: black;">Manage <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a style="cursor: pointer;" (click)="onSave()">Save Data</a></li>
                        <li><a style="cursor: pointer;" (click)="onFetch()">Fetch Data</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>